<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
</head>
<body>
    <h2>Not found</h2>
    <a href="/albumArtistQuery.html">
        Please try searching again
    </a> 
</body>
</html>