<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Artist Not Found</title>
</head>
<body>
    <h2>Artist Not Found</h2>
    <a href="/artistQuery.html">
        Please try searching again
    </a> 
</body>
</html>